{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/avatar.jpg') }}" alt="">
    </div>

    <div class="col-md-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Vel atque minus ratione nulla quia officia maxime
        earum possimus consequuntur tempora.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Vel atque minus ratione nulla quia officia maxime
        earum possimus consequuntur tempora.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Vel atque minus ratione nulla quia officia maxime
        earum possimus consequuntur tempora.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Vel atque minus ratione nulla quia officia maxime
        earum possimus consequuntur tempora.
    </div>
</div>
{% endblock content %}